@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #056C7B;
    height: 100vh;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .profile>img {
    width: 150px;
    height: 150px;
    border: 2px solid #DBEFF0;
    border-radius: 100%;
  }

  .link {
    padding: 20px;
  }
  
  .sublink {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    padding: 10px 0;
  }

  .sublink>h3 {
    color: white; 
    font-weight: medium;
    text-transform: uppercase;
    padding-left: 20px;
  }
  
  .sublink>a {
    text-decoration: none;
    color: #056C7B;
    font-size: 20px;
    text-align: center;
    background-color: #DBEFF0;
    border-radius: 50px;
    margin: 8px 10px;
    padding: 15px;
    text-transform: capitalize;
    font-weight: medium;
  }
  
  .sublink>a:hover {
    background-color: azure;
  }
  
  .footer {
    text-align: center;
    margin-top: 10px;
  }
  
  .footer>i {
    color: white;
    font-size: 20px;
    font-weight: light;
  }